<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Videojuego</title>
</head>
<body>

<h2>Actualizar Cliente</h2>

<form method="post" action="http://localhost:8081/clientes/actualizarCliente" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="put">

    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" required><br>

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br>

    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" required><br>

    <label for="edad">Edad:</label>
    <input type="text" id="edad" name="edad" required><br>

    <label for="direccion">Direccion:</label>
    <input type="text" id="direccion" name="direccion" required><br>

    <button type="reset">Reset</button>
    <button type="submit">Actualizar Cliente</button>
</form>

</body>
</html>