<!-- src/main/resources/templates/agregarVideojuego.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Videojuego</title>
</head>
<body>

<h2>Agregar Videojuego</h2>

<form method="post" action="http://localhost:8081/videojuegos/guardarVideojuego">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" required><br>

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br>

    <label for="genero">genero:</label>
    <input type="text" id="genero" name="genero" required><br>

    <label for="puntuacion">Puntuación:</label>
    <input type="text" id="puntuacion" name="puntuacion" required><br>

    <label for="idEmpresa">ID Empresa:</label>
    <input type="text" id="idEmpresa" name="IdEmpresa" required><br>

    <button type="reset">Reset</button>
    <button type="submit">Guardar Videojuego</button>
</form>
</body>
</html>
